<% include ../partials/header%>
<%- include ../partials/sidebar%>
<div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <form action='/danh-muc/update/<%= infoCategory._id %>' method='POST'>
                <h4 class="form-header text-uppercase">
                  <i class="fa fa-user-circle-o"></i>
                   THÊM DANH MỤC
                </h4>
                <div class="form-group row">
                  <label for="input-2" class="col-sm-2 col-form-label">Thêm Danh Mục</label>
                  <div class="col-sm-10">
                    <input type="text" name='nameCategory' value='<%= infoCategory.nameCategory %>' class="form-control" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="input-2" class="col-sm-2 col-form-label">Mã Danh Mục</label>
                  <div class="col-sm-10">
                    <input type="text" name='idCategory' value='<%= infoCategory.idCategory %>' class="form-control" required>
                  </div>
                </div>
                <div class="form-footer">
                    <button  class="btn btn-success"  type='submit'>
                      <i class="fa fa-check-square-o" ></i> 
                      Lưu vào CSDL
                    </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div><!--End Row-->
<%- include ../partials/footer%>